@use './globals/variables' as *;
@forward 'globals';

main {
    display: flex;
    flex-direction: column;
}

article {
    padding: 2.4em 2em;
    color: white;

    &.first {
        background-color: $clr-bright-orange;
    }

    &.first button {
        color: $clr-bright-orange;
    }

    &.second {
        background-color: $clr-dark-cyan;
    }

    &.second button {
        color: $clr-dark-cyan;
    }

    &.third {
        background-color: $clr-very-dark-cyan;
    }

    &.third button {
        color: $clr-very-dark-cyan;
    }

    h3 {
        font-family: $ff-primary;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1em;
        margin-top: 1.3em;
    }

    p {
        font-family: $ff-secondary;
        line-height: 1.3;
    }

    button {
        padding: .8em 1.4em;
        border-color: transparent;
        border-radius: 50px;
        margin-top: 1.3em;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            border: 1px solid;
            color: white;
        }
    }
}