// primary colors

$clr-bright-orange: hsl(31, 77%, 52%);
$clr-dark-cyan: hsl(184, 100%, 22%);
$clr-very-dark-cyan: hsl(179, 100%, 13%);


// neutral colors

$clr-transparent-white: hsla(0, 0%, 100%, 0.75);
$clr-light-grey: hsl(0, 0%, 95%);


// fonts variables

$ff-primary: Big Shoulders Display;
$ff-secondary: Lexend Deca;

$fs-base: 15px;

$fw-700: 700;
$fw-400: 400;